.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.4s linear, visibility 0.4s linear;

	&.open {
		opacity: 1;
		visibility: visible;

		.block {
			transform: translateY(0);
		}
	}

	.overlay {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.block {
		z-index: 1;
		background-color: #fff;
		border-radius: 8px;
		transform: translateY(-50px);
		transition: transform 0.4s cubic-bezier(0.5, 0, 1, 1);

		.container {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 20px;
			padding: 40px;

			.loader {
				margin: 120px 90px;
				width: fit-content;
				font-weight: bold;
				font-family: sans-serif;
				font-size: 30px;
				padding-bottom: 8px;
				background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
				animation: l2 2s linear infinite;
			}
			.loader:before {
				content: 'Loading...';
			}
			@keyframes l2 {
				to {
					background-size: 100% 3px;
				}
			}

			.top {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				h1 {
					font-size: 28px;
					font-weight: 500;
					line-height: 30px;
					color: var(--base-black);
				}

				.cross {
					color: #c9c9c9;
					cursor: pointer;
					font-size: 32px;
					transition: var(--transition);

					&:hover {
						color: var(--hover-red);
					}
				}

				.return {
					display: flex;
					align-items: center;
					gap: 3px;
					font-size: 12px;
					font-weight: 600;
					line-height: 15px;
					color: #f60;
					text-transform: uppercase;
					cursor: pointer;
				}
			}

			p {
				font-size: 16px;
				font-weight: 400;
				line-height: 1.25;
				cursor: default;
				max-width: 330px;
			}

			.step {
				display: flex;
				flex-direction: column;
				gap: 20px;

				h3 {
					font-size: 28px;
					font-weight: 500;
					line-height: 30px;
					color: var(--base-black);
				}
			}

			.buttonBlock {
				display: flex;
				flex-direction: column;
				gap: 10px;
				max-width: 330px;

				button {
					margin: 0;

					&:last-child {
						border-color: #ff6600;
						background-color: transparent;
						color: #ff6600;

						&:hover {
							color: #ff3300;
							border-color: #ff3300;
						}

						&:disabled {
							transition: none;
							background-color: #fff;
							color: #bdbdbd;
							cursor: not-allowed;
							border: 1px solid #bdbdbd;
							font-weight: 700;
						}
					}
				}
			}

			button {
				width: 100%;
				font-size: 18px;
				font-weight: 600;
				padding: 15px 32px 17px;
				cursor: pointer;
				background-color: #ff6600;
				transition: var(--transition);
				color: #fff;
				border-radius: 8px;
				margin: 20px 0;
				border: 1px solid transparent;

				&:hover {
					background-color: #ff3300;
				}
			}

			.inputBlock {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 15px;
				font-size: 18px;
				font-weight: 500;
				line-height: 20px;

				.field {
					display: flex;
					flex-direction: column;
					gap: 5px;

					.phone,
					.code {
						width: 100%;
						padding: 14px 15px;
						border: 1px solid #dedede;
						border-radius: 8px;
						color: var(--base-black);
						font-weight: 700;

						&::placeholder {
							color: #bdbdbd;
						}

						&:focus::placeholder {
							color: #cecece;
						}
					}

					.code {
						text-align: center;
						letter-spacing: 12px;
						&::placeholder {
							font-size: 36px;
							text-align: center;
							position: relative;
							top: 5px;
							left: 5px;
						}
					}

					.error {
						color: #f11;
						font-size: 12px;
						font-weight: 500;
						line-height: 12px;
					}
				}

				.checkboxBlock {
					display: flex;
					align-items: center;
					gap: 10px;

					p {
						cursor: pointer;
						user-select: none;
					}

					.checkbox {
						.tgl {
							display: none;

							+ .tglBtn {
								outline: 0;
								display: block;
								width: 34px;
								height: 20px;
								position: relative;
								cursor: pointer;
								user-select: none;

								&:after,
								&:before {
									position: relative;
									display: block;
									content: '';
									width: 50%;
									height: 100%;
								}

								&:after {
									left: 0;
								}

								&:before {
									display: none;
								}
							}

							&:checked {
								+ .tglBtn {
									&:after {
										left: 50%;
									}
								}
							}
						}

						.tglLight {
							+ .tglBtn {
								background: #989898;
								border-radius: 2em;
								padding: 2px;
								transition: all 0.4s ease;

								&:after {
									border-radius: 50%;
									background: #fff;
									transition: all 0.2s ease;
								}
							}

							&:checked {
								+ .tglBtn {
									background: #fb640b;
								}
							}
						}
					}
				}
			}
		}
	}
}
